.postlisting {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: -1%;

}

.postcard-holder {
    padding-bottom: 30px;
}

.postcard {
    border: 1px solid black;
    border-radius: 15px;
    padding: 0% 2%;
    background-color: rgba(227, 54, 255, 0.5);
}

.postcard:hover {
    background-color: rgba(227, 54, 255, 0.3);
    cursor: pointer;
}



/* Markdown css below */
/* a:any-link {
    color: #008bc7;
}

h1 {
    background-image: linear-gradient(#ef5350, #e57373, #f06292);
    background-clip: text;
    color: transparent;
}


h2 {
    background-image: linear-gradient(#ffa726, #ffb74d, #ffcc80);
    background-clip: text;
    color: transparent;
}

h3 {
    background-image: linear-gradient(#ffd54f, #ffd54f, #ffe082);
    background-clip: text;
    color: transparent;
}

h4 {
    background-image: linear-gradient(#a5d6a7, #aed581, #e6ee9c);
    background-clip: text;
    color: transparent;
}

h5 {
    background-image: linear-gradient(#90caf9, #80deea, #80cbc4);
    background-clip: text;
    color: transparent;
}

h6 {
    background-image: linear-gradient(#ce93d8, #b39ddb, #f8bbd0);
    background-clip: text;
    color: transparent;
}

tr {
    border-top: 1px solid #c6cbd1;
    background: #f1f1f1;
}

th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
    background: #dcdcdc;
} */