/* global styling */

body {
    background-color: #F5f589;
    overflow-x: hidden;
    font-size: medium;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #000 transparent;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

b {
    color: #00B2FF; 
}

br,img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}