.navbar-menu {
    display: flex;
    list-style-type: none;
    gap: 10%;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.navbar-menu li a{
    text-decoration: none;
    color: black;
}

hr {
    margin-left: -1%;
    width: 150%;
    border-color: black;
}