.body {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    border-style: solid;
    opacity: 0.85;
    z-index: 999;
    background-color: #F5f589;
}

.background::before {
    content: "";
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle at 2px 2px, black 1px, transparent 0);
    background-size: 25px 25px;
    /* height: 120%; Add this line */
}

hr {
    border: 0.5px solid black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.route-enter {
    animation: fadeIn 0.2s ease-in-out forwards;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    filter: brightness(.9);
}