.projectpage-body {
    margin: 5% 3% 0% 5%;
    margin-top: 3%;
    height: 80vh;
    overflow: auto;
    padding-right: 2%;
}

.projectpage-body h1 {
    margin-bottom: 1rem;
}

.projectpage-body p {
    margin-bottom: 1rem;
    line-height: 1.5;
}
