.Background {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
}

.background-element {
    /* position: absolute; */
    /* Adjust the following as needed */
    top: calc(10% - 25px);
    left: calc(10% - 25px);
    opacity: 0.2;
    color: #b9c1cd;
    letter-spacing: 75px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }